<p>Please, fill in all the fields below</p>
<%= form_for @photo do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, :required => true %>
  </div>
  <div>
    <%= form.label :author %>
    <%= form.text_field :author, :required => true %>
  </div>
  <div>
    <%= form.label :url %>
    <%= form.url_field :url, :required => true %>
  </div>
  <%= form.button %>
<% end %>