<h1>
  Most recent 5 photos
  <%= image_tag 'divider.png' %>
</h1>
<div class="masonry">
  <% @photos_recent_five.each do |photo| %><%= render 'figure', :photo => photo %><% end %>
</div>
<h1>
  Older than a month: <%= @photos_older_month.count %> photos
  <%= image_tag 'divider.png' %>
</h1>
<div class="masonry">
  <% @photos_older_month.each do |photo| %><%= render 'figure', :photo => photo %><% end %>
</div>
<h1>
  All: <%= @photos.count %> photos
  <%= image_tag 'divider.png' %>
</h1>
<div class="masonry">
  <% @photos.each do |photo| %><%= render 'figure', :photo => photo %><% end %>
</div>