<h1>New photo</h1>

<%= form_for :photo, url: photos_path do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :author %>
  <%= form.text_field :author %>
  <%= form.label :url %>
  <%= form.text_field :url %>
  <%= form.submit "Add photo" %>
<% end %>

<p>
  <%= link_to "Back to all images", photos_path %>
</p>
