<figure class="single-photo">
  <%= image_tag @photo.url, alt: "#{@photo.title}" %>  
  <figcaption>
    <span class="title"><%= @photo.title %></span>
    <span class="author"><%= @photo.author %></span>
  </figcaption>
  <span class="toolbox">
    <%= link_to edit_photo_path, title: "Edit this photo's details" do %>
      <%= image_tag "edit.png", alt: "pencil" %>
    <% end %>
    <%= link_to photo_path, title: "Delete this photo", :'data-method' => 'delete' do %>
      <%= image_tag "delete.png", alt: "trash" %>
    <% end %>
  </span>

  <!-- Best with ajax -->
  <span class="photo-nav">
    <a href="<%= @photo.prev %>" title="Previous photo in gallery"><%= image_tag "prev.png", alt: "previous" %></a> 
    <a href="<%= @photo.next %>" title="Next photo in gallery"><%= image_tag "next.png", alt: "next" %></a>
  </span>
</figure>
